/* #about_page {
    text-align: center;
    position: relative;
    margin: 90px;
    min-height: auto;
    background-image: url(../images/bg_1.jpg);
    background-position: left left !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
Changes all paragraphs color
  .p {
      color: rgba(0,0,0,.6); 
  }

  .tangerine_font {
    font-family: 'Tangerine', cursive;
    color: #2B94D1 !important;
    transition: all 0.3s ease 0s;
  }

  .slogan_about {
    line-height: -2.6rem;
    transition: all 0.5s ease 0s;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    font-weight: normal;
    font-size: 100px;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 0;
  }

  .h2_title {
      position: relative;
      margin-top: auto;
      padding: 1.5%;
      z-index: .5;
  }

  .phrase_A {
      font-weight: 100;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
  }

  .container_about {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-width: 200px !important; }

.ftco-wrap-about {
    background-position: center center !important; }
    .ftco-wrap-about .heading-section h2 {
        font-weight: 600 !important; }
    .ftco-wrap-about .img {
        width: 100%; }

.img1 {
    vertical-align: middle;
    border-style: none; 
    margin-left: 30px;
    margin-bottom: 150px;
    background-repeat: no-repeat;
    background-position: center center !important;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 1vh;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: minmax(60px, auto) repeat(3, 100px);
}

section {
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

#tabs {
    margin-top: 70px;
    
}

.number {
    font-family: 'Tangerine', cursive;
    color: #2B94D1 !important;
    transition: all 0.3s ease 0s;
    line-height: -2.6rem;
    transition: all 0.5s ease 0s;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    font-weight: 400;
    font-size: 100px;
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    z-index: 0;
}

#about_img1 {
    margin-top: 10px;
    margin-bottom: 60px;
}

#about_img2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#about_img3 {
    margin-top: 60px;
    margin-bottom: 10px;
}

.phone {
    font-size: 30px;
    font-weight: 700;
    margin-top: 1rem;
    color: #2B94D1 !important;
}

#text-wrap2 {
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: large;
}

#section-counter {
    display: grid;
} */

.img1{
    background-image: "images/Ser1stPic.jpeg"; 
    
}

.img2{
    background-image: "images/Ser2ndPic.jpeg"; 
    
}

.img3{
    background-image: "images/TiagoPic.jpeg"; 
    
}