.section {
    margin-left: 10%;
    margin-right: 10%;
}

strong {
    font-weight: bolder;
}

.bg-img {
    background-image: url(../images/bg_8.jpg);
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: auto;
    /* padding: 5%; */
}

.overlay {
    background-color: rgba(0, 0, 0, .6);
    height: auto;
}

.line {
    border-bottom: 1px solid;
    border-color: white;
}

.img {
    background-image: url(../images/chef1.jpg);
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30rem;
    margin-bottom: 20px;
}

.img2 {
    background-image: url(../images/chef2.png);
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30rem;
    margin-top: 20px;
}

  
@media only screen and (max-width: 992px) {
    .img, .img2{
        height: 50rem;
    }
}

.tangerine_font {
    font-family: 'Tangerine', cursive;
    color: #2B94D1 !important;    
  }

h2 {
position: relative;
margin-top: auto;
padding: 1.5%;
z-index: 0;
}

.slogan_about {
line-height: -2.6rem;
position: absolute;
top: 45px;
left: 0;
right: 0;
font-weight: normal;
font-size: 100px;
display: block;
margin-top: 0;
margin-bottom: 0;
z-index: 1;
}

.phone {
font-size: 30px;
font-weight: 700;
margin-top: 1rem;
color: #2B94D1 !important;
}

p, span {
    margin-top: 0;
    margin-bottom: 1rem;
}

.phrase_A {
    text-align: center;
    max-width: 100%;
    margin-left: 7%;
}

.date {
    text-align: left;
}

.number {
    font-weight: 600;
    font-size: 44px;
    color: #2B94D1 !important;
    display: block;
    line-height: 1;
}

.data {
    text-transform: uppercase;
}