/* Body CSS */
.accessibility-heading{
    font-size: 6rem;
    line-height: 1.2;
    font-family: 'Tangerine', cursive;
    color: #2B94D1 !important;
}

.accessibility-text{
    padding: 0 20%;
    line-height: 1.2;
}

.accessibility-form{
    text-align: left;
}

.form-group{
    margin: 25px 0;
}

/* Date form */
.date-div{
    display: inherit;
}

.date-div img{
    margin-left: 8px;
    width: 33px;
}

/* Button */
.accessibility-submit-btn{
    text-align: center;
}

.accessibility-submit-btn .btn{
    padding: 8px 35px;
}

/* Error label */
#disabilitySubmitForm label.error {
    width: auto;
    display: block;
    color: rgb(168, 1, 1);
}