.tangerine_font {
    font-family: 'Tangerine', cursive;
    color: #2B94D1 !important;    
  }

.bg-img {
    background-image: url(../images/bg_3.jpg);
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 840px;
  }

.contact-form {
  position: absolute;
  left: 0;
  margin: 60px;
  margin-left: 10rem;
  max-width: 40%;
  max-height: 90%;
  padding: 16px;
  background-color: white;
}

.subtext {
  font-size: 50px;
  font-weight: bolder;
  line-height: 1.2;
  z-index: 1;
}

.contact-logo {
  position: absolute;
  text-align: center;
  top: 3px;
  left: 0;
  right: 0;
  font-weight: normal;
  font-size: 120px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 0;
}

.checkboxLabel1, .checkboxLabel2 {
    text-align: left;
}

form .error {
  color: #ff0000;
}

.errorClass {
  border-color: #ff0000;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 840px;
}
  
