.bg-img {
    background-image: url(../images/bg_8.jpg);
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: auto;
}

.container-file {
    width: 40%;
}

.container-file .dropzone {
    border: 2px dashed blue;
    margin-bottom: 30px;
}

.overlay {
    background-color: rgba(0, 0, 0, .6);
    height: auto;
}

.line {
    border-bottom: 1px solid;
    border-color: white;
}

.line2 {
    width: 1px;
    border-bottom: 1px solid;
    border-color: black;
}

.phrase {
    font-weight: 600;
}

.top-text {
    font-size: 30px;
    font-weight: 400;
}

.form-title {
    font-size: 20px;
    font-weight: 300;
}

.content-body {
    background-color: #f3f3f3;
}

form .error {
    color: #ff0000;
}

.errorClass {
    border-color: #ff0000;
}