#home_page {
  text-align: center;
  background-image: url(../images/bg_1.jpg);
  background-position: center center !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: auto; 
  /* z-index: -1; */
}

.overlay2{
    background-color: rgba(0, 0, 0, .7);
    height: auto;
}
/********************************/
.tangerine_font {
  font-family: 'Tangerine', cursive;
  color: #2B94D1 !important;
  transition: all 0.3s ease 0s;
}

.slogan {
  color: whitesmoke;
  text-transform: uppercase;
  line-height: 2.6rem;
  transition: all 0.5s ease 0s;
}
  
.plates_img {
  align-self: center;
  object-fit: cover;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  /* padding-top: 2rem; */
}
.wl-6 {
  min-width: 600px;
}

.tiaser-card {
  background-color: transparent !important;
  color: #c9d6df;
}

#title {
  display: none;
}
