.food-section{
    padding: 40px 100px;
}

.section-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    margin-bottom: 2%;
}

.pricing-column{
    padding: 4%;
}

.food-img-size{
    padding: 3%;
}

.food-img-rounded{
    border-radius: 10%;
}

.card{
    border: none;
}

.card-title {
    padding-bottom: 2%;
}

hr {
    border-style: none;
    border-top-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 90%;
}

/* Effects */
.pricing-card{
    display: none;
}

/* #breakfast {
    display: none;
} */