hr {
    border-style: none;
    border-top-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 90%;
}

/* Sections */
.food-section{
    padding: 40px 100px;
}

.section-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    margin-bottom: 2%;
    font-family: 'Tangerine', cursive;
    color: #2B94D1 !important;
    font-weight: 300
}

.pricing-column{
    padding: 4%;
}

/* Images CSS */
.food-img-size{
    padding: 3%;
}

.food-img-rounded{
    border-radius: 10%;
}

/* Cards */
.card{
    border: none;
}

.card-title {
    padding-bottom: 2%;
}

/* Effects */

.heading-effect{
    font-size: 6rem;
    line-height: 1.05;
    margin-bottom: 2%;
}