.jcarousel-wrapper {
    margin: 20px 5%;
    position: relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.jcarousel div{
    background-color: #a2d5f2;
    display: block;
    max-width: 100%;
}

.jcarousel h3{
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2% 20%;
}

.jcarousel img {
    display: inline-block;
    margin: 15px auto;
    border-radius: 100%;
    width: 15%;
}
.jcarousel em{
    padding-left: 15px;
}

/* Control */

.jcarousel-control-prev {
    left: 15px;
}
.jcarousel-control-next{
    right: 15px;
}

.jcarousel-control-prev, .jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    text-decoration: none !important;
    text-shadow: 0 0 2px #000;
    font-size: 4rem;
    font: Arial, sans-serif;
}
.jcarousel-control-prev:hover, .jcarousel-control-next:hover {
    color: rgb(65, 62, 62);
}