html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
    font-size: 16px;
  }
body {
    text-align: center;
}

/* ################################## */
/* Start Header CSS */

/********************************************************/
/**************** This is the info bar ******************/

.tangerine-font {
    font-family: 'Tangerine', cursive;
    font-size: 2.5rem;
}
.nav-custom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 1;
}
.nav-custom > * {      /* Applied to all the child elements */
    color: #AAAAAA;
    font-size: .8rem !important;
}

/* End Header CSS */
/********************************************************/  